body{
    background-color : url(vestiariofoto.png);
    h1 {color: white; text-align: center; font-size: 55px; 
        background-color: rgb(89, 149, 79); 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
     

      








}